* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

body {
    text-transform: uppercase;
    color: black;
    background-color: greenyellow;
}

.header {
    text-align: center;
}

.header li {
    display: inline-block;
    margin: 4px;
    list-style: none;
    font-size: 16px;
}


.symptomsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: url(C:\Users\amjad\Desktop\mask.jpg) fixed;
  border: 0.1em #371d0d solid;
}

.beginTest,
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 3px;
  border: 0.1em #371d0d solid;
  background-color: #ffd700;
}

label {
  display: block;
  margin-bottom: 5px;
  padding: 4px;
  cursor: pointer;
}

.images {
  margin-bottom: 6px;
  width: 90%;
  max-width: 240px;
  height:400px;
}

h1,
h3,
legend {
  margin-bottom: 6px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 0.1em #07773e solid;
  background-color: yellow;
  color: black;
}


@media only screen and (min-width: 320px) {
  .maskTop {
    width: 40%;
    height: 320px;
  }

  .symptomsBox {
    width: 90%;
    height: 80%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .box {
    width: 90%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

  .button {
    margin-top: 4px;
    font-size: 15px;
    width: 15px;
    height: 2.5em;
  }

  h1,
  h3,
  legend {
    font-size: 20px;
  }

  .header li {
    font-size: 16px;
  }

  .questionDisplay {
    font-size: 18px;
    margin: 0.1em;
  }
}

@media only screen and (min-width: 550px) {
  .symptomsBox {
    width: 90%;
    height: 80%;
    padding-top: 25px;
    padding-bottom: 22px;
  }

  .box {
    width: 85%;
    height: 98%;
  }

  .button {
    margin-top: 5px;
    font-size: 15px;
    width: 20px;
    height: 2.5em;
  }

  h1,
  h3,
  legend {
    font-size: 22px;
  }

  .questionDisplay {
    font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {  
  .header li {
    margin: 1em;
    font-size: 16px;
  }

  .symptomsBox {
    width: 90%;
    height: 80%;
  }

  .box {
    width: 85%;
    height: 95%;
  }

  h1,
  h3,
  legend {
    font-size: 22px;
  }

  .questionsDisplay {
    font-size: 1em;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 4px;
    width: 26px;
    font-size:15px;
  }
}

